

#avatarDiv {
	width: 255px;
    position: relative;
    top: 20px;
    left: 50px;
    margin: 0;
    height: 200px;
    font-family: 'Press Start 2P', cursive;
    color: green;
}
#rank1 {
	text-align: left;
	font-family: 'Press Start 2P', cursive;
	color:green;
	margin:0;
	padding-right: 54px;
	display: block;
}
#exp {
	text-align: left;
	font-family: 'Press Start 2P', cursive;
	color:green;
	margin:0;
}
#picture {
	width:150px;
	height: 150px;
	background: #fff;
	content:url('../assets/avatar.png');
	margin-bottom: 12px;
}
