#avatarDiv {
	width: 255px;
    position: relative;
    top: 20px;
    left: 50px;
    margin: 0;
    height: 200px;
    font-family: 'Press Start 2P', cursive;
    color: green;
}
#rank1 {
	text-align: left;
	font-family: 'Press Start 2P', cursive;
	color:green;
	margin:0;
	padding-right: 54px;
	display: block;
}
#exp {
	text-align: left;
	font-family: 'Press Start 2P', cursive;
	color:green;
	margin:0;
}
#picture {
	width:150px;
	height: 150px;
	background: #fff;
	margin-bottom: 12px;
}

#avatarModal {
	background: #fff;
    width: 500px;
    z-index: 2;
    position: absolute;
}

#avatarUl {
	margin:0;
}

#avatarModalHeader {
	z-index: 2;
}

#avatarSubmit {
	z-index: 2;
	width:20px;
}

.avatars {
	display: inline;
}
