#badgeContainer {
  margin-top: 15px;
  background: #fff;
  height: 265px;
}
.badgeTest {
	position: relative;
	width:65px;
	display: inline;
  margin-left: 10px;
}
.badge {
  margin-right: 10px;
	width:60px;
	height: 60px;
	position: relative;
	top:12px;
}

.achievementTitle {
	display: none;
	position: absolute;
	top:40px;
	left:25px;
	padding-left: 5px;
	padding-right: 5px;
	background: #000;
	width:145px;
    color: #fff;
    border-radius: 3px;
    z-index: 2;
}

.badgeTest:hover .achievementTitle{
	display:block;
}

#badgeHeader {
	color:#889;
	text-align: center;
	margin:0;
	padding-bottom: 6px;
	background: #DDDCDC;
}
