#chatContain {
	position: fixed;
	bottom:0px;
	right:120px;
	width:300px;

}

#chat {
	height: 400px;
    width: 300px;
    overflow: scroll;
    position: fixed;
    float: right;

}

.userNameChat {
	font-size: 17px;
	padding-right:5px;
}

#messageContain {
	width:300px;
	height:300px;
	overflow: scroll;
	background: #fff;
	
	box-sizing:border-box;

}

#chatInput {
	width:295px;
	padding-top:20px;
	outline:none;
}

.message {
	height:35px;
}
.message:nth-child(odd) {
	background:#f7f7f7;
	padding-top: 3px;
	padding-bottom: 3px;
	
}

#chatHeader {
	color: #fff;
    background: #033A4C;
    margin: 0px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.message {
	margin:0;
	padding-left: 10px;
}

