.commentBox {
	border: 1px solid #000;
	padding: 5px 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 10px;
}
.commenter {
	font-weight: bold;
	float: left;
}
.commentHeader {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
}
