.friend {
    width: 150px;
    height: 31px;
    
    background: #00c5cd;
    outline: none;
    border: 1px solid #f7f7f7;
    text-align: right;
    color: #c7c7c5;
}
.friendListItem {
	display: inline-block;
}

#friendsContainer {
	width:150px;
	text-align: center;
	margin-bottom: 10px;
	display: inline-block;
	position: absolute;
	top:200px;
	right:0px;
	border-left:2px solid #f7f7f7;
}
#setGoal {
	margin:0;
}

#listContain {
	width:150px;
	margin:auto;
}

#friendsUl {
	padding: 0;
}
.requester {

	min-width: 40px;
	margin-right: 15px;
	color: black;
}
.reqObj {
	margin-top: 10px;
	margin-left: 10px;
}
#friendRequests {
	color: #2A8889;
	margin-left: 10px;
}

.rejbutton, .accbutton {
	margin-right: 15px;
	width: 60px;
	height: 40px;
	border-radius: 3px;
	/*font-size: 0.6rem;*/
	background: #00C5CD;
}
.rejbutton:hover {
	background: red;
	color: white;
}
.accbutton:hover {
	background: green;
	color: white;
}
