#goalInput {
    width:340px;
    padding-top:20px;
}
.goalContainer {
	padding:0;
}
.goalItem {
	list-style: none;
	width: 350px;
    padding-top: 10px;
    font-size: 18px;
    background: #f7f7f7;
    border-bottom: 1px solid #888888;
    list-style: none;
    position: relative;
}

.goalItem:last-child {
    border-bottom: none;
}

	