#goalContainer {
  width: 376px;
  height: 280px;
  border-top: 1px solid black;
}
#goalInput {
    width: 325px;
    padding-top: 20px;
    /* border-radius: 5px; */
    border: none;
    border-top:1px solid #888;
    font-size: 1rem;
    outline: none;
    position: relative;
    display: block;
    top: 0px;
    left: 0px;
}
#goalHeader {
  color:#889;
  text-align: center;
  margin:0;
  padding-bottom: 6px;
  background: #DDDCDC;
}
.goalContainer {
  margin:0;
  width: 376px;
  height:149px;
  background: #fff;
	padding:0;
  position: relative;
  float: left;
  border-bottom: 1px solid #fff;
}
.goalItem {
	list-style: none;
	width: 377px;
  height: 40px;
  padding-top: 10px;
  font-size: 18px;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #888;
}

.goalItem:last-child {
    border-bottom: none;
}

#goalSubmit {
   width: 52px;
   height: 41px;
   border-top-right-radius: 4px;
   border: none;
   font-size: 0.8rem;
   text-align: center;
   padding: 3px;
   color: #fff;
   background: #27556C;
   position: absolute;
   top: 150px;
   right: 0px;
}
#goalSubmit:hover {
  background: blue;
  color: white;
}

.categoryCheckbox {
    float: left;
}

.categoryLabel {
    float: left;
    margin-left:15px;
    width:240px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;


}

.categoryLabel:hover  {
  overflow: visible;

}


#postList {
  width: 60%;
  margin: auto;
}
.delete {
    float: right;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    padding: 5px;
    text-align: center;
    font-size: 0.6rem;
    border-radius: 3px;
    border: 1px solid #f7f7f7;
    background: #27556C;
    color: #fff;
    position: relative;
    z-index: 2;
}
.delete:hover {
  background: red;
  color: white;
}
#setGoal {
  margin-bottom: 20px;
  position: relative;
  height:245px;
}

.selectCategory {
  text-align: center;
  position: relative;
  top: 12px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
}

#radioContain {
    margin:auto;
    width:227px;
    position: relative;
    top: -7px;
}

.theme {
  position: relative;
  top:10px;
  padding-right:5px;
}

#pleaseSelect {
  margin-left: 106px;
  margin-top: 5px;
  font-size: 0.8rem;
}
