#groupsUserContainer {
	        height: 192px;
            width: 300px;
            position: absolute;
            top: 420px;
            right: 0px;
            text-align: center;
            background: #EFF;
}


#groupsUserHeader {
    margin: auto;
		text-align: center;
    background: #1e586e;
    color:#fff;
    text-align: center;
}


.groupUserButton {
    display: block;
    margin:0;

}
