.group {
   
    height: 45px;
    background: #f7f7f7;
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #888;
    text-align: left;
    width: 100%;
    font-size: 1em;

}

.groupButton {
	display: block;
	margin:0;
	
}

.group:hover {
	background: #004a72;
    color:#fff;
}

#groupsHeader {
	margin:0;
    background: #8DB0CC;
    color:#fff;
}

#groupsContainer {
    margin-top:-5px;
	width:100%;
    text-align: center;
    display: inline-block;
    border-left: 2px solid #f7f7f7;
    background: #fff;
    border: 1px solid #888;
    height: 162px;
	
}


