#groupsUserContainer {
	    width: 300px;
        height: 242px;
        position: absolute;
        background: #eff;
        top: 572px;
        right: 0px;
}


#groupsUserHeader {
    margin: auto;
		text-align: center;
    background: #1e586e;
    color:#fff;
    text-align: center;
}


.groupUserButton {
    display: block;
    margin:0;

}
