.group {
   
    height: 31px;
    background: #7dd;
    outline: none;
    border: none;
    border-bottom: 1px solid #f7f7f7;
    text-align: right;
    color: #fff;
    width:100%;

}

.groupButton {
	display: block;
	margin:0;
	
}

.group:hover {
	background: #004a72;
}

#groupsHeader {
	margin:0;
    background: #006d72;
    color:#fff;
}

#groupsContainer {
    margin-top:45px;
	width:100%;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
    border-left: 2px solid #f7f7f7;
    background: #fff;
    border: 1px solid #888;
    height: 121px;
	
}


