#groupsUserContainer {
	width: 300px;
    height: 304px;
    position: absolute;
    background: #fff;
    top: 510px;
    right: 0px;
}


#groupsUserHeader {
    margin:0;
    background: #1e586e;
    color:#fff;
}


.groupUserButton {
    display: block;
    margin:0;

}
