.group {
   
    height: 45px;
    background: #1f667e;
    border: none;
    border-bottom:1px solid #7BB;
    text-align: left;
    width: 100%;
    font-size: 1em;
    color:#fff;

}

.groupButton {
	display: block;
	margin:0;
	
}

.group:hover {
	background: #004a72;
    color:#fff;
}

#groupsHeader {
	margin:0;
    background: #1e586e;
    color:#fff;
}

#groupsContainer {
    margin-top:-5px;
	width:100%;
    text-align: center;
    display: inline-block;
    background: #fff;
    height: 162px;
	
}


