#close {
	position: absolute;
	right:3px;
	top:3px;
}

#registerBtn {
	float: right;
	position: relative;
	left:10px;
	color:#fff;
	background: #00F5CD;
	outline:none;
	border:1px solid #F7F7F7;
	padding:10px;
	border-radius:5px;
}
#registerBtn:hover {
	background: #33A1FF;
}
#loginContainer {
	width:100%;
	height:50px;
	margin: auto;
	background: #00C5CD;
	position: relative;

}
#loginSpan {
	float: left;
}
#loginForm {
	width:500px;
	float: left;
}

#submitLog {
	float: right;
	position: relative;
	left:10px;
	color:#fff;
	background: #00F5CD;
	outline:none;
	border:1px solid #F7F7F7;
	padding:10px;
	border-radius:5px;
}
#submitLog:hover {
	background: #33A1FF;
}

.loginInput {
	width:200px;
	height:20px;
	outline:none;
	
}
#inputContainer {
	
	width:535px;
	position: relative;
	top:10px;

}
#user {
	position: absolute;
	top:-10px;
	left:10px;

}

#pass {
	position: absolute;
	top:-10px;
	left:10px;
}
.valContain {
	position: relative;
}

h1 {
	margin:0;
	
	color:#fff;
}
