#wrapper {
	width: 100%;
	height: 100%;

}

#loginOnly {
	width: 704px;
  margin-left: 100px;
  position: relative;
}

#logoSpan {
	position: absolute;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 5px;
    color: white;
    font-size: 1.2rem;
}

#loginSpan {
	display: inline-block;
	margin-left: 3px;
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 0.9rem;
	color:#fff;
}

#loginForm {
	display: inline-block;
    width: 525px;
}

.inputWindow {
	display: block;
	margin-right: 20px;
	margin-bottom: 10px;
	width: 200px;
	height: 40px;
	background: white;
	border-radius: 5px;
}

.loginInput {
	width:200px;
	height:35px;
	outline: none;
	font-size: 0.8rem;
	border-radius: 5px;
}

#inputContainer {
	display: inline-block;
	width: 700px;
	height: 40px;
	top:40px;
}

#user {
	position: absolute;
	top:-10px;
	left:10px;
}

#pass {
	position: absolute;
	top:-10px;
	left:10px;
}
.valContain {
	position: relative;
}
#submitLog {
	display: inline-block;
	color:#fff;
	background: #00F5CD;
	outline:none;
	border:1px solid #F7F7F7;
	padding:10px;
	border-radius:5px;
	margin-right: 10px;
}

#submitLog:hover {
	background: #33A1FF;
}

#registerBtn {
	display: block;
    position: absolute;
    color: #fff;
    background: #00F5CD;
    outline: none;
    border: 1px solid #F7F7F7;
    padding: 10px;
    border-radius: 5px;
    top: 142px;
    left: 112px;

}

#registerBtn:hover {
	background: #33A1FF;
}

#bigPic {
	background-image: url('../assets/bestyearever.jpg');
	margin-top: -30px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 1000px;
}
#home-wrapper {
	position: relative;
	width: 60%;
	margin: auto;
	text-align: center;
}
#bigTitle {
	position: absolute;
  top: 220px;
	left: 500px;
  width: 400px;
  font-size: 8rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #26447A;
}
#splashText1 {
	color: white;
	padding-top: 60px;
	margin-left: 50px;
}
#splashText2 {
	color: white;
	margin-left: 100px;
}
