body {
	font-family: 'Roboto', sans-serif;
	background:#fbfcfe;

}

#container {
	width: 1200px;
	margin:auto;
	position: relative;
	margin-top: 50px;
}

ul {
	list-style: none;
}

ul li {
	list-style: none;
}

#greeting {
	position: relative;
}
