body {
	font-family: 'Roboto', sans-serif;
	background: #DDD9D9;
}

#container {
	width: 1000px;
	margin: auto;
	margin-top: 70px;
}

ul {
	list-style: none;
}

ul li {
	list-style: none;
}

#greeting {
	position: relative;
}
