
#messageContainer {
	width: 377px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
}

#sendMessage {
	background: #006D5D;
	color: #fff;
	margin:0;
	padding: 5px 0 5px 5px;
}

.friendList {
    width: 100px;
    height: 33px;
    background: #F7F7FD;
    outline: none;
    border: none;
    border-bottom: 1px solid #888;
    text-align: right;
    color: #000;
}

#message {
	width: 296px;
    padding-top: 10px;
    position: relative;
    top: 0px;
    
}

#friendListMessage {
	width: 99px;
	height:260px;
	overflow:scroll;
    position: absolute;
    margin: 0;
    right: 0px;
    padding:0;
    top: 39px;
}

#friendSelect {
	position: absolute;
    top: 8px;
    right: 18px;
    margin: 0px;
    margin-left: 8px;
    color: #fff;
}

#allMessages {
    width:300px;
    height:232px;
    overflow: scroll;
}

.message {
    margin:0;
}