.otherPostTitle {
	background: #ccc;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.otherPostDescription {
    background: #fff;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 2px;
}
#otherPostsContainer {
	width: 647px;
    height: 610px;
    overflow: scroll;
    left: 253px;
    top: 225px;
    position: absolute;
    background: #fff;

}
