.otherPostTitle {
	background: #ccc;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
}

.otherPostDescription {
    background: #fff;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 8px;
}
#otherPostsContainer {
	width: 649px;
    height: 610px;
    overflow: scroll;
    left: 251px;
    top: 255px;
    position: absolute;
    background: #fdfdfd;
}
