.postContainer {
	border:1px solid #F7F7F7;
}
#titleInput {
	display: block;
}
#descriptionInput {
	display: block;
}

#postBtn {
	display: block;
}

.postTitle {
	background: #f7f7f7;
}

.postDescription {
	background: #ccc;
}
