#postMaster {
	margin: auto;
	width:600px;
	height:600px;
	overflow:scroll;
}
#postInput {
	margin: auto;
	width: 600px;

}
.postContainer {
	border:1px solid #F7F7F7;
	margin-top: 15px;
}

#titleInput {
	display: block;
	width:580px;
	padding-top:20px;
	border-radius: 7px;
}
#descriptionInput {
	display: block;
	width:580px;
	border-radius: 5px;
	margin-top: 5px;
}

#postBtn {
	display: block;
	width: 50px;
	height: 30px;
	text-align: center;
	margin-top: 5px;
}
#postBtn:hover {
	background: blue;
	color: white;
}
.postUser {
	float: left;
	margin-left: 5px;
	font-weight: bold;
}
.postTitle {
	padding: 8px 0;
	background: #ccc;
	margin: 0 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.postDescription {
	margin-top: 0;
	padding: 8px;
	height: 30px;
	text-align: left;
	background: #f7f7f7;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#newPostInput {
	margin-bottom: 15px;
}
