#profilePostMaster {
	width: 571px;
    height: 100%;
    background: #fff;
    border: 1px solid black;
    position: absolute;
    /* left: 250px; */
    margin-left: 20.5%;
    top: 205px;
    display: inline-block;

}

#master {
	overflow-y: scroll;
	height:450px;
	position: absolute;
	top:150px;
}
.profileBtns {
	 padding:0;
	 margin:0;
	display: inline;
}
.profileBtn {
	width:190px;
	float: left;
	height:30px;
	outline:none;
	border:1px solid #f7f7f7;
	background: #006d72;
	color:#fff;
}
.profileBtn:hover {
	background: #004a72;
}
#postProfile {
	width:490px;
	padding-top:0;
	padding-left: 6px;
	padding-bottom: 15px;
	margin:0;
	border:none;
	border-bottom:1px solid #f7f7f7;
	font-size: 0.7rem;
}
#descriptionProfile {
	width:490px;
	height:50px;
	display: block;
	padding-top: 2px;
	padding-left: 6px;
	margin:0;
	resize:none;
	border:none;
	border-bottom:1px solid #f7f7f7;
	font-size: 0.7rem;
}
#postMaster {
	width:505px;
	height:305px;
	overflow:scroll;
	border:1px solid #f7f7f7;
	position: relative;

}
#postInput {
	width: 511px;
    height: 500px;
    margin: auto;
    position: relative;
    top: 305px;
    background: #fff;
}

#postBtn {
	width:167px;
	float: left;
	height:30px;
	outline:none;
	border:1px solid #f7f7f7;
	background: #006d72;
	color:#fff;
}
#titleInput {
	width:500px;
	height: 30px;
	display: block;
	font-size: 0.7rem;
	padding-top:0;
	padding-left: 6px;
	padding-bottom: 15px;
}
#descriptionInput {
	width:501px;
	height:50px;
	display: block;
	font-size: 0.7rem;
	padding-top: 2px;
	padding-left: 6px;
}

.commentBox {
	border-bottom: 1px solid #888;
	padding: 5px 0;
	margin: 0;
	text-indent: 10px;
	background: #f7f7f7;

}

.commentBox:last-child() {
	border-bottom:none;
}
.commenter {
	font-size: 10px;
	position: relative;
	top:5px;
	float: left;
	color:#006d72;
}
.commentHeader {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
}
.commentField {
	display: block;
	width:505px;
	height: 30px;
	font-size: 0.8rem;

}
.postUser {
	color: #006d72;
	width:505px;
	margin:0;
	padding-left: 10px;
}

.postTitle {
	background: #fff;
	margin:0;
	padding-left: 10px;
}
.postDescription {
	background:#F7F2F2;
	margin:0;
	padding-left: 10px;
}

input {
	outline: none;
}

textarea {
	outline:none;
}
