#registrationContainer {
	width:400px;
	height:378px;
	background: #fff;
	position: absolute;
	left: 50%;
    margin-left: -200px;
    top:80px;
	border-radius:5px;
	
}


#close {
	position: absolute;
	right:3px;
	top:3px;
}

.regInput {
	width: 300px;
    padding-top: 20px;
    margin-bottom: 18px;
    left: 44px;
    position: relative;
}



#regHead {
	text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 15px;
    background: #00C5CD;

}

#submitReg {
	display:block;
    color: #fff;
    background: #00F5CD;
    outline: none;
    border: 1px solid #F7F7F7;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    left: 45px;
    top:-10px;
}
