#members {
	margin:0;
	margin:auto;
	background: #1e586e;
	color:#fff;
}
#userListContainer {
	
	text-align: center;
    position: absolute;
    top: 205px;
    width: 300px;
    position: absolute;
    right: 0px;
}


#userListUl {
	margin:0;
	padding:0;
	border-radius: 5px;

}

.groupUser {
	    height: 45px;
    background: #1f667e;
    border: none;
    border-bottom: 1px solid #7BB;
    text-align: left;
    width: 250px;
    font-size: 1em;
    color: #fff;
}

.groupUser:hover {
	background: #004a72;
	color:#fff;
}
