ul {
	list-style:none; 
}

body {
	margin: 0;
	padding:0;
}

#chat {
	height:400px;
	width:300px;
	overflow: scroll;
	position: absolute;
	top:70px;
	right:0px;

}

#register {
	z-index: 2;
	position: absolute;
	top:10px;
}

